@import url('https://fonts.googleapis.com/css?family=Ubuntu');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

h1{
  text-align: center;
  margin: 2rem 0;
  color: aliceblue;
  text-shadow: 0 0 2px #fff;
}

#app{
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 5rem 0;
}

#canvas{
  display: block;
  margin: 0 auto;
  border-radius: .5rem;
  height: 500px;
  width: 500px;
}

#logger{
  margin: 1rem 0;
  text-shadow: 0 0 2px #fff;
}

.logger__message{
  font-size: 1.5rem;
  margin: .5rem 0;
}

.logger__message--success{
  color: #00ff00;
}

.logger__message--error{
  color: #ff0000;
}