@import url('https://fonts.googleapis.com/css?family=Ubuntu');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

h1{
  text-align: center;
  margin: 2rem 0;
  color: aliceblue;
  text-shadow: 0 0 2px #fff;
}

#app{
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem 0;
}
.container{
  position: relative;
  display: flex;
}
.btn{
  display: block;
  width: 100%;
  padding: 1rem;
  text-align: center;
  background-color: #242424;
  color: #fff;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btnStart{
  background-color: #1c69e4;
  position: absolute;
  top: calc(50% - 1.5rem);
  left: 0;
}
.btnStart:hover{
  color: #fff;
  background-color: #5c94ed;
}

.btnRestart{
  background-color: #37d437;
  position: absolute;
  top: calc(50% - 1.5rem);
  left: 0;
}
.hidden{
  display: none;
}
canvas{
  display: block;
  margin: 0 auto;
  border-radius: .5rem;
  height: 500px;
  width: 500px;
}

#logger{
  margin: 1rem 0;
  text-shadow: 0 0 2px #fff;
}

.logger__message{
  font-size: 1.5rem;
  margin: .5rem 0;
}

.logger__message--success{
  color: #00ff00;
}

.logger__message--error{
  color: #ff0000;
}

.red-flag{
  height: 25px;
  width: 25px;
  position: absolute;
  align-self: flex-end;
  right: 0px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: .8rem;
  padding: 1rem 0;
}
footer a {
  color: rgb(248, 255, 172);
  text-decoration: none;
}